<?xml version="1.0"?>
<robot name="scene" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Panda’yı doğrudan tek kaynaktan üret -->
  <xacro:include filename="$(find moveit_resources_panda_description)/urdf/panda.urdf.xacro"/>

  <!-- DİKKAT: URDF içinde 'world' parent destekli sabitleme standart değil.
       Bu yüzden sabitlemeyi SDF dünyasında yapacağız. -->
</robot>
